@use "../abstract/mixins";
@use "../abstract/variable" as var;

@font-face {
    font-family: "sourcesanspro";
    src: url(../../font/SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: "sourcesansprobold";
    src: url(../../font/SourceSansPro-Bold.ttf);
}



body {
    font-family: "sourcesanspro";
    font-size: 16px;
    background-color: var.$backgroundcolor;
    background-image: url("https://www.transparenttextures.com/patterns/retina-wood.png");
}

main {
    min-height: 85vh;
}

h2 {
    font-family: "sourcesansprobold";
}

.active {
    
    &:before {
        width: 110%;
        background-color: var.$primarycolor;
    }
}