{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block main %}
    <h2>Mon Profil</h2>
    <section id="profil">
        <h2>Informations</h2>
        <p><strong>Nom d'utilisateur :</strong> {{ user.username }}</p>
        <p><strong>Email :</strong> {{ user.email }}</p>
        <p><strong>Rôle :</strong> 
            {% if 'ROLE_ADMIN' in user.roles %}
                Admin
            {% else %}
                Utilisateur
            {% endif %}
        </p>
    </section>
{% endblock %}

