@use '../../abstract/mixins';
@use '../../abstract/variable' as var;

#cave {
    @include mixins.flex(column);
    margin-top: 15px;

    .view {
        display: block;
        background-color: rgba(0, 0, 0, 0.3);
        color: white;
        padding: 0.4rem 0.8rem;
        border-radius: 20px;
        margin-bottom: 1rem;
        transition: all 0.3s;

        &:hover {
            transform: scale(1.1);
            color: var.$hovercolor;
        }
    }
    
    #caves {
        display: grid;
        grid-template-columns: 30fr 30fr 30fr;
        grid-template-rows: auto;
        gap: 1rem;

        div {
            @include mixins.flex(column, space-between);
            background-color: rgba(0, 0, 0, 0.2);
            padding: 0.7rem;
            height: 200px;

            p {
                padding: 0 2rem;
            }

            a {
                display: block;
                color: white;
                transition: all 0.3s;

                &:hover {
                    transform: scale(1.1);
                    color: var.$hovercolor;
                }
            }
        }
    }
}