@use '../../abstract/mixins';
@use '../../abstract/variable' as var;

#form {
    @include mixins.flex();
    margin-top: 2rem;
    

    form {
        @include mixins.flex(column);
        background-color: var.$backgroundcolor;
        box-shadow: 1px 1px 5px black;
        padding: 1rem;
        border-radius: 25px;
        color: white;

        h2 {
            margin-bottom: 30px;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input, textarea {
            margin-bottom: 20px;
            width: 95%;
            padding: 0.2rem;
        }

        textarea {
            resize: none;
            height: 200px;
        }

        button {
            padding: 0.3rem 0.7rem;
            background-color: white;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            transition: all 0.3s;
            margin-top: 1rem;

            &:hover {
                box-shadow: 0px 0px 10px black;
                background-color: rgb(255, 206, 229);
            }
        }

        select {
            width: 95%;
        }
    }
}