@use '../../abstract/mixins';
@use '../../abstract/variable' as var;

#profil {
    @include mixins.flex(column);

    h2 {
        color: white;
        font-size: 4rem;
        margin-bottom: 1rem;
    }

    .info {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 20px;
        color: white;
        padding: 1rem;
        padding-left: 2rem;
        min-width: 400px;
        margin-bottom: 2rem;
    }

    a {
        @include mixins.hover();
        
        &:hover {
            transform: scale(1);
        }
    }

    .mycave {
        @include mixins.flex(column);
        margin: 0 2%;

        h3 {
            font-size: 24px;
            margin-bottom: 1rem;
        }

        ul {
            @include mixins.flex(row, $wrap: wrap);

            li {
                @include mixins.flex(column, flex-start);
                background-color: rgba(245, 222, 179, 0.3);
                padding: 0.5rem 1rem;
                margin: 0.5rem;
                height: 550px;
                width: 350px;

                .img {
                    @include mixins.flex();
                    background-color: rgba(0, 0, 0, 0.3);
                    height: 200px;
                    margin-top: 0.5rem;
                    max-width: 80%;
                    min-width: 30%;
                }

                img {
                    height: 200px;
                    
                }

                p {
                    max-width: 300px;
                    margin-top: 0.5rem;
                    text-align: justify;
                    align-self: flex-start;
                }

                .link {
                    @include mixins.flex(column, center);
                    margin-top: auto;

                    a {
                        margin-top: 0.5rem;
                    }
                }
            }
        }
    }
}