{% extends 'base.html.twig' %}

{% block title %}Ajout d'une bouteille{% endblock %}

{% block main %}

    <div id="form">
        {{ form_start(wineform) }}
            <h2>Ajout d'une bouteille</h2>
            {{ form_widget (wineform)}}
            <button>Ajouter</button>
        {{ form_end(wineform) }}
    </div>
{% endblock %}
